NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
# Populated automatically from amplify_outputs.json by `ampx sandbox`
NEXT_PUBLIC_USER_POOL_ID=eu-west-2_replace_me
NEXT_PUBLIC_USER_POOL_CLIENT_ID=replace_me
